.btn-dark{
    color: white !important;
}

.text-user{
    color: orange !important;
}

@media screen and (max-width: 800px) {
    .logout{
        padding: 5px !important;
        margin-left: 0 !important;
    }
}